.signInButton {
  background-color: var(--gray-850);
  color: var(--white);

  height: 3rem;
  padding: 0 1.5rem;

  border: 0;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  svg {
    height: 20px;
    width: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  transition: filter 200ms;

  &:hover {
    filter: brightness(0.8);
  }
}
